<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mylist.mapper.BoardMapper">

	<select id="getList" resultType="com.mylist.domain.BoardVO">
  <![CDATA[
  select * from tbl_board where bno > 0
  ]]>
	</select>

	<!-- create(insert)처리 -->
	<insert id="insert">
		insert into tbl_board (bno,tno,rname,pno,rcount)
		values (seq_board.nextval, #{tno} #{rname}, #{pno}, #{rcount})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>

		insert into tbl_board (bno,tno,rname,pno,rcount)
		values (#{bno},#{tno},#{rname},
		#{pno}, #{rcount})
	</insert>

	<!-- read(select)처리 -->
	<select id="read" resultType="com.mylist.domain.BoardVO">
		select * from tbl_board where bno =
		#{bno}
	</select>

	<!-- delete 처리 -->
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>

	<!-- update (수정) 처리 -->
	<update id="update">
		update tbl_board
		set rname = #{rname},
		tno = #{tno},
		pno = #{pno},
		rcount = #{rcount},
		rdate = #{rdate}
		where bno = #{bno}
	</update>
</mapper>