<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mylist.mapper.ReservationMapper">

	<select id="getList"
		resultType="com.mylist.domain.ReservationVO">
  <![CDATA[
  select * from tbl_r where rno > 0
  ]]>
	</select>
	<insert id="insert">
		insert into tbl_r (title, rname, rcount, rdate) values (#{title}, #{rname},
		#{rcount} ,sysdate())
	</insert>


</mapper>